{% extends "merovingian/courses/show.html" %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}trinity/css/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/ext/tiptip/tipTip.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}syjon/js/jquery-1.7.2.min.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}syjon/ext/tiptip/jquery.tipTip.minified.js"></script>
    <script type="text/javascript">
	    $(function(){
			$(".tip").tipTip({maxWidth: "300px", edgeOffset: 10, defaultPosition: 'top'});
		});
    </script>
{% endblock %}

{% block footer_version %} Trinity {{ VERSION_TRINITY }} {% endblock %}