{% extends "column_1.html" %}
{% load i18n %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}trinity/css/style.css" type="text/css" />
{% endblock %}

{% block content %}
	<p>{% trans "Are you sure you want to delete the following objects?" %}</p>
	<div class="spacer_10"></div>
	
	{% for object in objects %}
		<ul class="square">{{ object|unordered_list }}</ul>
	{% endfor %}
	<div class="spacer_10"></div>
	
	<form action="" method="post" style="display: inline">
		{% csrf_token %}
		<input type="hidden" name="post" value="yes" />
		<input type="submit" value="{% trans 'Yes, I am sure' %}" />
	</form>
	<form action="" method="post" style="display: inline">
		{% csrf_token %}
		<input type="hidden" name="post" value="no" />
		<input type="submit" value="{% trans 'No' %}" />
	</form>
{% endblock %}