{% extends "trinity/base.html" %}

{% load i18n %}

{% block breadcrumb %}
	{{ block.super }}
	&raquo; <a href="{% url apps.trinity.views.ea.assign course_id=course.id %}">{% trans "Assigning areas of education" %}</a>
{% endblock %}

{% block content %}
	
	<h2>{% trans "Assigning areas of education" %}</h2>
	
	<table class="table_0 no_cell_borders no_border">
        <tbody>
        	<tr><td class="label">{% trans "Course" %}:</td><td>{{ course }}</td></tr>
        </tbody>
    </table>
	<div class="spacer_5"></div>

    {% if form.education_areas.field.choices %}
        <form action="" method="post">
            {% csrf_token %}
            <table id="aeeAddTable" class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Areas of education" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.education_areas.errors }}{{ form.education_areas }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>

            <table class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Actions" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" value="save_and_add" name="action">{% trans "Save" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    {% else %}
        <ul class="infolist">
            <li>{% trans "List of educations areas is empty" %}.</li>
        </ul>
    {% endif %}
{% endblock %}