{% extends "trinity/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.trinity.views.ea.assign_phd course_id=course.id %}">{% trans "Assigning areas/fields/disciplines" %}</a>
{% endblock %}

{% block content %}

	<h2>{% trans "Assigning areas/fields/disciplines" %}</h2>

    <table class="table_0 no_cell_borders no_border">
        <tbody>
            <tr><td class="label">{% trans "Course" %}:</td><td>{{ course }}</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer_5"></div>

    {% if knowledge_area_form.knowledge_areas.field.choices and education_field_form.education_fields.field.choices and education_discipline_form.education_disciplines.field.choices %}
        <form action="" method="post">
            {% csrf_token %}

            <table class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Knowledge areas" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ knowledge_area_form.knowledge_areas.errors }}{{ knowledge_area_form.knowledge_areas }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>

            <table class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Education fields" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ education_field_form.education_fields.errors }}{{ education_field_form.education_fields }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>

            <table class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Education disciplines" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ education_discipline_form.education_disciplines.errors }}{{ education_discipline_form.education_disciplines }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>

            <table class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Actions" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" name="action">{% trans "Save" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    {% else %}
        <ul class="infolist">
            {% if not knowledge_area_form.knowledge_areas.field.choices %} <li>{% trans "List of knowledge areas is empty" %}.</li> {% endif %}
            {% if not education_field_form.education_fields.field.choices %} <li>{% trans "List of education fields is empty" %}.</li> {% endif %}
            {% if not education_discipline_form.education_disciplines.field.choices %} <li>{% trans "List of education disciplines is empty" %}.</li> {% endif %}
        </ul>
    {% endif %}
{% endblock %}