{% extends "trinity/mlo//show.html" %}

{% load i18n %}

{% block breadcrumb %}
	{{ block.super }}
	{% if xee %}
		&raquo; <a href="{% url apps.trinity.views.mlo.update course_id=course.id sgroup_id=sgroup.id module_id=module.id id_xee=xee.id %}">{% trans "Editing module learning outcome" %}</a>
	{% else %}
		&raquo; <a href="{% url apps.trinity.views.mlo.add course_id=course.id sgroup_id=sgroup.id module_id=module.id %}">{% trans "Adding module learning outcome" %}</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if xee %}
		<h2>{% trans "Editing module learning outcome" %}</h2>
	{% else %}
		<h2>{% trans "Adding module learning outcome" %}</h2>
	{% endif %}
	
	{% block info %}
		{{ block.super }}
	{% endblock %}
	
    <div id="ee_add_edit">    	
    	<form method="post" action="">
    		{% csrf_token %}
			
			<h3>{% trans "Symbol" %}</h3>
            {{ form.symbol.errors }}
            {{ form.symbol }}
            <div class="spacer_10"></div>
            		
            <h3>{% trans "Description" %}</h3>
            {{ form.description.errors }}
            {{ form.description }}
            <div class="spacer_10"></div>
            
            <h3>{% trans "Course learning outcomes" %}</h3>
            {{ form.learning_outcomes.errors }}
            {{ form.learning_outcomes }}
            <div class="spacer_10"></div>
    		
    		<table class="table_0">
    		    <thead>
    		        <tr>
    		            <td>{% trans "Actions" %}</td>
    		        </tr>
    		    </thead>
    		    <tbody>
    		        <tr>
    		            <td>
    		                <button class="button_2" type="submit" name="submit" value="save">{% trans "Save" %}</button>
    		                {% if not xee %}
    		                	<button class="button_2" type="submit" name="submit" value="save_and_add">{% trans "Save and add" %}</button>
    		                {% endif %}
    		            </td>
    		        </tr>
    		    </tbody>
    		</table>
    	</form>
    </div>
{% endblock %}