{% extends "base_0p.html" %}

{% load i18n %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
{% endblock %}

{% block body %}
<h4 style="text-align: center; margin-bottom: 30px;">{% trans "Module learning outcomes" %}</h4>
<table style="margin-bottom: 40px;">
	<tr>
		<td class="label">{% trans "Module" %}:</td><td><b>{{ module }}</b></td>
	</tr>
	<tr>
		<td class="label">{% trans "Course" %}:</td><td>{{ course.name }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Speciality" %}:</td><td>{{ sgroup.name }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Level" %}:</td><td>{{ course.level }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Type" %}:</td><td>{{ course.type }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Profile" %}:</td><td>{{ course.profile }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Year of didactic offer approval" %}:</td>
		<td>{{ course.start_date.year }}</td>
	</tr>
</table>

{% if mlos %}
	<table>
		<thead style="text-align: center; font-weight: bold;">
			<tr class="header">
				<td>{% trans "Symbol" %}</td>
				<td>{% trans "Description" %}</td>
				<td>{% trans "Course learning outcomes" %}</td>
				{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
					<td>{% trans "Area learning outcomes" %}</td>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for mlo in mlos %}
				<tr class="{% cycle 'odd' 'even' %}">
					<td class="center">{{ mlo.symbol }}</td>
					<td>{{ mlo.description }}</td>
					<td>
						<ul>
							{% for clo in mlo.clos.all %}
								<li>{{ clo }}</li>
							{% endfor %}	
						</ul>	
					</td>
					{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
						<td>
							<ul>
								{% for alo in mlo.get_related_alos %}
									<li>{{ alo }}</li>
								{% endfor %}	
							</ul>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
    <p>{% trans "List of learning outcomes is empty." %}</p>
{% endif %}

{% endblock %}
