{% extends "trinity/base.html" %}
{% load i18n %}

{% block breadcrumb %}
	{{ block.super }} 
	&raquo; <a href="{% url apps.trinity.views.mlo.select_sgroup course_id=course.id %}">{% trans "Choosing speciality" %}</a>
{% endblock %}

{% block content %}

	<h2>{% trans "Choosing speciality" %}</h2>
	
	{% block info %}
	    <table class="table_0 no_cell_borders no_border">
	        <tbody>
	        	<tr><td class="label">{% trans "Course" %}:</td><td>{{ course }}</td></tr>
	        </tbody>
	    </table>
	{% endblock %}
    <div class="spacer_5"></div>

	<form action="" method="post">
		{{ form.non_field_errors }}
		<table class="table_0">
			{% csrf_token %}
			<thead>
				<tr>
					<td>{{ form.sgroup.label }}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ form.sgroup.errors }}{{ form.sgroup }}</td>
				</tr>
			</tbody>
		</table>
		<div class="spacer_5"></div>
	
        <table class="table_0">
            <thead>
                <tr>
                    <td>{% trans "Actions" %}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="button_2" type="submit">{% trans "Next" %}</button>
                    </td>
                </tr>
            </tbody>
        </table>
	</form>
{% endblock %}