{% extends "trinity/mlo/select_sgroup.html" %}

{% load i18n %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.trinity.views.mlo.select_module course_id=course.id sgroup_id=sgroup.id%}">{% trans "Choosing module" %}</a>
{% endblock %}

{% block content %}
	<h2>{% trans "Choosing module" %}</h2>
	
	{% block info %}
		{{ block.super }}
	    <table class="table_0 no_cell_borders no_border">
	        <tbody>
	        	<tr><td class="label">{% trans "Speciality" %}:</td><td>{{ sgroup.name }}</td></tr>
	        </tbody>
	    </table>
    {% endblock %}
    <div class="spacer_5"></div>

    <form action="" method="post">
        {% csrf_token %}
        <table class="table_0">
            <thead>
                <tr>
                    <td>{{ form.module.label }}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form.module.errors }}{{ form.module }}</td>
                </tr>
            </tbody>
        </table>
        <div class="spacer_5">&nbsp;</div>
    
        <table class="table_0">
            <thead>
                <tr>
                    <td>{% trans "Actions" %}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="button_2" type="submit">{% trans "Next" %}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form> 
{% endblock %}