{% extends "trinity/clo/show.html" %}

{% load i18n %}

{% block breadcrumb %}
	{{ block.super }}
	{% if clo %}
		&raquo; <a href="{% url apps.trinity.views.clo.update course_id=course.id education_category_id=education_category.id clo_id=clo.id %}">{% trans "Editing learning outcome for course" %}</a>
	{% else %}
		&raquo; <a href="{% url apps.trinity.views.clo.add course_id=course.id education_category_id=education_category.id %}">{% trans "Adding learning outcome for course" %}</a>
	{% endif %}
{% endblock %}

{% block content %}
	<h2>	
		{% if clo %}
			{% trans "Editing learning outcome for course" %}
		{% else %}
			{% trans "Adding learning outcome for course" %}
		{% endif %}
	</h2>
	
	{% block info %}
		{{ block.super }}
	{% endblock %}
	
	<div id="ee_add_edit">
        <form method="post" action="">
            {% csrf_token %}
			<h3>{% trans "Symbol" %}</h3>
            {{ form.symbol.errors }}
            {{ form.symbol }}
            <div class="spacer_10"></div>
            		
            <h3>{% trans "Description" %}</h3>
            {{ form.description.errors }}
            {{ form.description }}
            <div class="spacer_10"></div>
            
            {% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
	            <h3>{% trans "Learning outcomes for areas" %}</h3>
	            {{ form.learning_outcomes.errors }}
	            {{ form.learning_outcomes }}
	            <div class="spacer_10"></div>
	        {% endif %}
            
            <table class="table_0">
                <thead>
                    <tr>
                        <td>{% trans "Actions" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" name="submit" value="save">{% trans "Save" %}</button>
                            {% if not clo %}
                            	<button class="button_2" type="submit" name="submit" value="save_and_continue">{% trans "Save and add" %}</button>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}