{% extends "base_0p.html" %}

{% load i18n %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
{% endblock %}

{% block body %}
<h4 style="text-align: center; margin-bottom: 30px;">{% trans "Course learning outcomes" %}</h4>
<table>
	<tr>
		<td class="label">{% trans "Course" %}: </td>
		<td><b>{{ course.name }}</b></td>
	</tr>
	<tr>
		<td class="label">{% trans "Level" %}: </td>
		<td>{{ course.level }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Type" %}: </td>
		<td>{{ course.type }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Profile" %}: </td>
		<td>{{ course.profile }}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Year of didactic offer approval" %}: </td>
		<td>{{ course.start_date.year }}</td>
	</tr>
</table>

{% regroup clos by education_category as category_list %}
{% if category_list %}
	{% for category in category_list %}
		<h4 style="margin-top: 40px;">{% trans "Category" %}: {{ category.grouper }}</h4>
		<table>
			<thead style="text-align: center; font-weight: bold;">
				<tr class="header">
					<td>{% trans "Symbol" %}</td>
					<td>{% trans "Description" %}</td>
					{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
						<td>{% trans "Area learning outcomes" %}</td>
					{% endif %}
					<td style="width: 220px;">{% trans "Modules" %}</td>
				</tr>
			</thead>
			<tbody>
				{% for clo in category.list %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td class="center">{{ clo.symbol }}</td>
						<td>{{ clo.description }}</td>
						{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
							<td>
								<ul>
									{% for alo in clo.alos.all %}
										<li>{{ alo }}</li>
									{% endfor %}	
								</ul>
							</td>
						{% endif %}
						<td>
							<ul>
								{% for module in clo.get_related_modules %}
									<li>{{ module }}</li>
								{% endfor %}	
							</ul>	
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    {% endfor %}
{% else %}
    <p>{% trans "List of learning outcomes is empty." %}</p>
{% endif %}

{% endblock %}
