{% extends "trinity/base.html" %}

{% load i18n %}

{% block breadcrumb %}
	{{ block.super }} 
	&raquo; <a href="{% url apps.trinity.views.clo.select_category course_id=course.id %}">{% trans "Choosing category of education" %}</a>
{% endblock %}

{% block content %} 
	<h2>{% trans "Choosing category of education" %}</h2>
	
	{% block info %}
	    <table class="table_0 no_cell_borders no_border">
	        <tbody>
	        	<tr><td class="label">{% trans "Course" %}:</td><td>{{ course }}</td></tr>
				{% if course.is_level_phd %}
	                <tr><td class="label">{% trans "Areas of knowledge" %}:</td><td>{{ course.knowledgearea_set.all|join:", " }}</td></tr>
	                <tr><td class="label">{% trans "Field of science or art" %}:</td><td>{{ course.educationfield_set.all|join:", " }}</td></tr>
	                <tr><td class="label">{% trans "Discipline of science or art" %}:</td><td>{{ course.educationdiscipline_set.all|join:", " }}</td></tr>
	            {% else %}
	                <tr><td class="label">{% trans "Area of education" %}:</td><td>{{ course.educationarea_set.all|join:", "|capfirst }}</td></tr>
	            {% endif %}
	        </tbody>
	    </table>
    {% endblock %}
    <div class="spacer_5"></div>

	<form action="" method="post">
		{{ form.non_field_errors }}
		<table class="table_0">
			{% csrf_token %}
			<thead>
				<tr>
					<td>{{ form.education_category.label }}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ form.education_category.errors }}{{ form.education_category }}</td>
				</tr>
			</tbody>
		</table>
		<div class="spacer_5"></div>
	
        <table class="table_0">
            <thead>
                <tr>
                    <td>{% trans "Actions" %}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="button_2" type="submit">{% trans "Next" %}</button>
                    </td>
                </tr>
            </tbody>
        </table>
	</form>
{% endblock %}