{% extends "trinity/clo/select_category.html" %}

{% load i18n lo_intensity %}

{% block breadcrumb %}
	{{ block.super }} 
	&raquo; <a href="{% url apps.trinity.views.clo.show course_id=course.id education_category_id=education_category.id %}">{% trans "Browsing course learning outcomes" %}</a>
{% endblock %}

{% block content %}
	<h2>{% trans "Browsing course learning outcomes" %}</h2>
    
    {% block info %}
    	{{ block.super }}
    	<table class="table_0 no_cell_borders no_border">
	        <tbody>
				<tr><td class="label">{% trans "Education category" %}:</td><td>{{ education_category|capfirst }}</td></tr>
	        </tbody>
	    </table>
	    <div class="spacer_5"></div>
    {% endblock %}

    <form method="post" action="{% url apps.trinity.views.clo.delete course_id=course.id education_category_id=education_category.id %}">
    	{% csrf_token %}
    	
	    {# TABELA Z PRZYCISKAMI #}
	    <table class="table_0">
	        <thead>
	            <tr>
	                <td>{% trans "Actions" %}</td>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>
						{% if is_course_admin or request.user.is_superuser %}
		                    <a class="link_add link_0" href="{% url apps.trinity.views.clo.add course_id=course.id education_category_id=education_category.id %}">{% trans "Add course learning outcome" %}</a> 
		                    <span class="separator"> | </span>
		                    <button class="link_delete button_0" type="submit">{% trans "Delete selected" %}</button>
							<span class="separator"> | </span>
						{% endif %}
						<a class="link_print link_0" href="{% url apps.trinity.views.clo.print_pdf course_id=course.id education_category_id=education_category.id %}" target="_blank">{% trans "Print" %}</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
		<div class="spacer_5"></div>
	
	    <div id="ee_show">
	    	{% if clos %}
	    		<table class="table_0 row_highlight">
	    			<thead>
	    				<tr>
	    					{% if is_course_admin or request.user.is_superuser %}
	    						<td class="delete"></td>
	    					{% endif %}
	    					<td class="symbol">
	    						{% trans "Symbol" %}
	    					</td>
	    					<td class="description left">
	    						{% trans "Description" %}
	    					</td>
	    					{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
	    						<td class="alo">
	    					   		{% trans "Learning outcomes for areas" %}
	    					   	</td>
	    					{% endif %}
	    					<td class="module">
	    						{% trans "Modules" %}
	    					</td>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% for clo in clos %}
		    				<tr class="{% cycle 'odd' 'even' %}">
		    					{% if is_course_admin or request.user.is_superuser %}
			    					<td class="delete">
			    						<input type="checkbox" value="{{ clo.id }}" name="selected_id" />
			    					</td>
			    				{% endif %}
		    					<td class="symbol">
		    						{% if is_course_admin or request.user.is_superuser %}
		    							<a class="link_edit link_0" href="{% url apps.trinity.views.clo.update course_id=course.id education_category_id=education_category.id clo_id=clo.id %}">{{ clo.symbol }}</a>
		    						{% else %}
		    							<span>{{ clo.symbol }}</span>
		    						{% endif %}
		    					</td>
		    					<td class="description">
		    						{{ clo.description|linebreaksbr }}
		    					</td>
		    					{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
		        					<td class="alo">
		        						<ul class="alos_list">
		        							{% for alo in clo.alos.all %}
		        								<li>
		        									<a href="" class="tip" title="{{ alo.description }}">
		        										{{ alo }}
		        									</a>
		        								</li>
		        							{% endfor %}
		        						</ul>
		        					</td>
		        				{% endif %}
		    					<td class="module">
		    						<ul class="modules_list">
		    							{% for module in clo.get_related_modules %}
		    								<li>
		    									<a class="link_0" href="{% url apps.trinity.views.mlo.show module.get_course.id module.get_sgroup.id module.id %}" target="_blank">{{ module }}<a/> ({% get_intensity clo module %})
		    								</li>
		    							{% endfor %}
		    						</ul>
		    					</td>
		    				</tr>
	    	        	{% endfor %}
	    			</tbody>
	    		</table>
	    		<div class="spacer_5"></div>
	    	{% else %}
				<ul class="infolist">
	    			<li>
	    				{% trans "List of learning outcomes is empty." %}
	    			</li>
	    		</ul>
	    	{% endif %}
		</div>
	</form>
	
    {% if is_course_admin or request.user.is_superuser %}
	    {% if not course.is_level_phd %}
	        {% if remaining_alos %}
	            <table class="table_0">
	                <thead>
	                    <tr>
	                        <td>
	                        	{% trans "List of unused learning outcomes for areas" %}
	                        </td>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>
	                        {% for remaining_alo in remaining_alos %} 
								<a href='' class='tip' title='{{ remaining_alo.description }}'>{{ remaining_alo.symbol }}</a>{% if not forloop.last %}, {% endif %}
	                        {% endfor %}
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        {% else %}
	            <div class="messages">
	                <ul class="success">
	                    <li>
	                    	{% trans "All learning outcomes for areas were used." %}
	                    </li>
	                </ul>   
	            </div>
	        {% endif %}
	        <div class="spacer_5"></div>
	    {% endif %}
	{% endif %}

{% endblock %}